@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.card-container {
  display: flex !important;
  justify-content: center;
  flex-flow: row wrap;
}

.card {
  width: 400px;
}